*{
    box-sizing: border-box;
    margin: 0;
}
header {
    background-image: url("../img/pattern.png");
    background-size: 400px;
    background-color: rgb(84, 153, 210);
    padding-top: 50px;
}
header img{
    width: 200px;
}
h1 {
    font-size: 3em;
    padding: 5px;
}